/* alignment classes */
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

.padding-right-regular {
    padding-right: 6em;
}

/* display classes */
.display-inline {
    display: inline !important;
}
