[run]
omit =
    */dist-packages/cayennelpp/*
    */dist-packages/pysm/*
    */lib/ratrack/*

source =
    dist-packages
    src/lib

#disable_warnings = no-data-collected
#branch = True

[report]
#show_missing = True
