.venv*
.idea
.pioenvs
*.pyc
*.egg-info
settings.py
/dist-packages
/dist-packages-mpy
/lib-mpy*
/dist-firmwares
.DS_Store
/dist
/var
/build
/bin
.terkin
/.pio
/.vscode
/tmp
presets.mk
*~
.coverage
/spikes
/doc/build
/docker/volumes/influxdb/data
/docker/volumes/grafana/data
/docker/volumes/grafana/log
/docker/volumes/influxdb/log
/docker/volumes/kotori/log
/docker/volumes/mongodb/log
/docker/volumes/mongodb/data
/docker/volumes/mosquitto/data
/docker/volumes/mosquitto/log
/docker/volumes/**/*.passwd
/docker/volumes/nginx/log
/docker/volumes/nginx/conf.d
/docker/volumes/redis/data
/docker/portainer
