.venv*
.idea
.pioenvs
*.pyc
*.egg-info
settings.py
/dist-packages
/dist-packages-mpy
/lib-mpy*
/dist-firmwares
.DS_Store
/dist
/var
/build
/bin
.terkin
/.pio
/.vscode
/tmp
presets.mk
*~
.coverage
/spikes
/doc/build
_build/
