pytest<8
pytest-docker-fixtures<2
coverage<7

pytest-mock<4
pyfakefs<6
esp32-machine-emulator<2
fake-rpi<1

mocket<3.10
httpretty<1
pytest-httpserver<2

#get-mac==0.8.2
paho-mqtt<2

freezegun<2
dummyserial<2
