pycopy-copy
pycopy-types
micropython-collections
micropython-collections.defaultdict
#pycopy-urequests
pycopy-shutil
micropython-pycayennelpp
# All of these pull in dependencies of vanilla MicroPython
# essentially breaking Pycom MicroPython.
#pycopy-abc
#pycopy-glob
#pycopy-os.path
#pycopy-urllib.parse
#pycopy-base64
#pycopy-logging
#pycopy-json
#pycopy-uuid
