pycopy-copy
pycopy-types
pycopy-collections
pycopy-collections.defaultdict
pycopy-urequests
# Apply cherrypick-style installation for some packages to ignore dependencies
#pycopy-urllib.parse
#pycopy-base64
#pycopy-logging
#pycopy-json
